@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Playwrite+CU:wght@100..400&display=swap');

@media screen and (max-width: 480px) { 
  .containerReporteCordinador {
    overflow: hidden;
    width: 100%;
  }
  .containerFormReporteCordinador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    width: 100%;
  }
  .containerFormReporteCordinador form {
    width: 100%;
  }
  
  .containerFormReporteCordinador h1 {
    font-family: "Kalam", cursive;
    padding: 0;
    text-align: center;
  }
  
}